body {
    margin: 0;
    font-family: sans-serif;
    background-color: black;
    color: white;
}


.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    border-bottom: 1px solid white;
}

.logo {
    color: #00b300;
    font-size: 22px;
    font-weight: bold;
}

.discount {
    background-color: purple;
    color: black;
    padding: 8px 20px;
    border-radius: 20px;
    font-weight: bold;
}


.nav {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 15px 0;
    border-bottom: 1px solid white;
}

.nav a {
    color: white;
    text-decoration: none;
}


.section-title {
    text-align: center;
    margin: 40px 0;
}


.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.card {
    background-color: white;
    color: black;
    width: 250px;
    padding: 20px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 200px;
}


.footer {
    text-align: center;
    margin: 50px 0;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.socials img {
    width: 40px;
}
